.Project {
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: box-shadow 0.15s linear;
}

.Project:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

.Project__wrapper {
  height: 100%;
  transition: transform 0.15s linear;
  position: relative
}

.Project:hover .Project__wrapper {
  transform: scale(1.05);
}

.Project__image {
  width: 100%;
  height: 100%;
}

.Project__new-text {
  position: absolute;
  top: 19px;
  right: -40px;
  background-color: #1d88ff;
  padding: 0 40px;
  transform: rotateZ(45deg);
  font-size: 0.9em;
  font-weight: 700;
}

.Project__description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transform: translateY(100%);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  transition: 0.15s linear;
  transition-property: opacity, transform;
}

.Project:hover .Project__description {
  opacity: 1;
  transform: translateY(0);
}

.description__tools { 
  font-weight: 700;
}

.description__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 7px;
  background-color: var(--background-color-button);
}

.description__link:first-child {
  margin-right: 20px;
}

.description__link:hover {
  color: white;
  background-color: var(--font-strong-hover-color);
}

.link__icon {
  margin-left: 5px;
}

@media screen and (min-width: 480px) {
  .Project {
    height: 230px;
  }

  .Project__new-text {
    top: 20px;
    font-size: 1em;
  }

  .description__link {
    width: 130px;
  }
}

@media screen and (min-width: 568px) {
  .Project {
    height: 240px;
  }

  .description__link {
    width: 135px;
  }
}

@media screen and (min-width: 768px) {
  .Project {
    height: 300px;
  }

  .Project__new-text {
    top: 30px;
    right: -35px;
    font-size: 1.1em;
  }

  .description__link {
    width: 145px;
  }
}

@media screen and (min-width: 992px) {
  .Project {
    height: 320px;
  }

  .description__link {
    width: 155px;
  }
}

@media screen and (min-width: 992px) {
  .description__link {
    width: 165px;
  }
}

