.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: none;
  z-index: 98;
}

.Nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.overlay.active {
  display: block;
}

.Nav.active {
  display: flex;
}

.Nav__list {
  margin-top: 65px;
  padding-right: 17.5px;
  overflow-x: hidden;
}

.Nav__link {
  color: #a8a9b4;
  width: inherit;
  height: inherit;
  padding: 15px 5px;
  transform: translateX(170px);
  opacity: 0;
  will-change: transform, opacity;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 1.5em;
}

.Nav__link:hover, .Nav__link[aria-current] {
  color: var(--font-color);
}

.Nav__link:hover .link__icons, .Nav__link[aria-current] .link__icons {
  color: var(--font-strong-hover-color);
}

.link__icons {
  font-size: 1.1em;
  margin-left: 10px;
}

@media only screen and (min-width: 800px) {
  .Nav {
    position: static;
    width: inherit;
    opacity: 1;
    display: flex;
    flex-direction: row;
  }
  
  .Nav__list {
    display: flex;
    margin-top: 0;
    padding-right: 0;
  }
  
  .Nav__link {
    padding: 10px;
    transform: none;
    opacity: 1;
  }

  .Nav__link:hover {
    color: var(--font-strong-hover-color);
  }

  .link__icons {
    display: none;
  }
}
