.Projects__title1 {
  font-size: 1.5em;
}

.Projects__title2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.Projects__paragraph {
  margin-bottom: 30px;
}

.paragraph__emoji-search {
  margin-right: 5px;
}

.paragraph__img-platzi {
  width: 16px;
}

.paragraph__link {
  color: var(--font-color);
  text-decoration: underline;
}

@media screen and (min-width: 480px) {
  .Projects {
    font-size: 17px;
  }

  .paragraph__img-platzi {
    width: 17px;
  }
}

@media screen and (min-width: 768px) {
  .Projects {
    font-size: 18.5px;
  }

  .paragraph__img-platzi {
    width: 18.5px;
  }
}

@media screen and (min-width: 992px) {
  .Projects {
    font-size: 20px;
  }

  .paragraph__img-platzi {
    width: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .Projects {
    font-size: 21.5px;
  }

  .paragraph__img-platzi {
    width: 21.5px;
  }
}