.AboutMe__title {
  font-size: 1.5em;
}

.AboutMe__name {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.AboutMe__paragraph {
  margin-bottom: 30px;
  line-height: 1.4;
}

.paragraph__link {
  color: var(--font-color);
  text-decoration: underline;
}

.paragraph__img {
  width: 16px;
}

.AboutMe__section .AboutMe__title {
  margin-bottom: 15px;
}

.AboutMe__section .AboutMe__paragraph {
  margin-bottom: 10px;
}

.AboutMe__paragraph:last-child {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .AboutMe {
    font-size: 17px;
  }

  .paragraph__img {
    width: 17px;
  }
}

@media screen and (min-width: 768px) {
  .AboutMe {
    font-size: 18.5px;
  }
  
  .paragraph__img {
    width: 18.5px;
  }
}

@media screen and (min-width: 992px) {
  .AboutMe {
    font-size: 20px;
  }

  .paragraph__img {
    width: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .AboutMe {
    font-size: 21.5px;
  }
  
  .paragraph__img {
    width: 21.5px;
  }
}
